# Imports

In [ ]:
from google.colab import drive
import os

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score

# Load Data

In [ ]:
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
os.chdir("drive/MyDrive/X/ML2 - Data Challenge/data")

In [ ]:
X = pd.read_csv('AMF_train_X.csv')
y = pd.read_csv('AMF_train_Y.csv')

In [ ]:
X.head()

   Index    Share  ... med_dt_TV1_TV4 NbSecondWithAtLeatOneTrade
0      1   Isin_8  ...            NaN                          4
1      2  Isin_87  ...            NaN                         15
2      3  Isin_87  ...            NaN                         63
3      4  Isin_12  ...            NaN                          4
4      5  Isin_87  ...            NaN                         38

[5 rows x 39 columns]

In [ ]:
y.head()

       Trader     type
0  Trader_285      MIX
1  Trader_114  NON HFT
2  Trader_110  NON HFT
3   Trader_57  NON HFT
4  Trader_128  NON HFT

In [ ]:
y.shape

(86, 2)

# Preproc

In [ ]:
#other metohd
X_train = X[X['Trader'].isin(X['Trader'].unique()[:60])]
X_test = X[X['Trader'].isin(X['Trader'].unique()[61:])]
y_train = y[y['Trader'].isin(X['Trader'].unique()[:60])]
y_test = y[y['Trader'].isin(X['Trader'].unique()[61:])]

In [ ]:
X2 = X.set_index('Trader').drop(['Index', 'Share', 'Day'], axis=1)
y_new = X2.join(y.set_index('Trader'), on='Trader')['type']

In [ ]:
X2 = X2.fillna(0)

In [ ]:
X2.shape, y_new.shape

((105782, 35), (105782,))

In [ ]:
X2.head()

                OTR        OCR  ...  med_dt_TV1_TV4  NbSecondWithAtLeatOneTrade
Trader                          ...
Trader_10  2.272727   8.333333  ...             0.0                           4
Trader_10  1.696629  25.166667  ...             0.0                          15
Trader_10  1.482759  47.300000  ...             0.0                          63
Trader_10  1.705882  14.500000  ...             0.0                           4
Trader_10  1.517730  26.750000  ...             0.0                          38

[5 rows x 35 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X2, y_new, test_size=0.33, random_state=42)

# Model

In [ ]:
clf = RandomForestClassifier()
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
y_pred = clf.predict(X_test)

In [ ]:
f1_score(y_test, y_pred, average='micro')

0.9777707754447277

# Reformat predictions

In [ ]:
len(X_test.index.unique())

83

In [ ]:
y_pred

array(['MIX', 'NON HFT', 'HFT', ..., 'MIX', 'MIX', 'HFT'], dtype=object)

In [ ]:
X_predicted = X_test.copy()

In [ ]:
X_predicted['prediction'] = y_pred

In [ ]:
X_predicted

                   OTR        OCR  ...  NbSecondWithAtLeatOneTrade  prediction
Trader                             ...
Trader_233    2.350000  17.625000  ...                         108         MIX
Trader_105    5.132075  27.200000  ...                          82     NON HFT
Trader_226    5.839695   2.919847  ...                         142         HFT
Trader_453  192.200000   4.037815  ...                          40         HFT
Trader_226    9.413643   2.544527  ...                         722         HFT
...                ...        ...  ...                         ...         ...
Trader_222    6.900000   2.464286  ...                           3     NON HFT
Trader_209   17.217391  11.647059  ...                          31         MIX
Trader_233    3.424242   5.650000  ...                         221         MIX
Trader_329   20.694444   2.217262  ...                          66         MIX
Trader_386  283.365731   2.014238  ...                         712         HFT

[34909 rows x 36 columns]

In [ ]:
groups = X_predicted.groupby('Trader')['prediction'].apply(list)
df1 = groups.reset_index(name='prediction')

In [ ]:
df1

        Trader                                         prediction
0    Trader_10  [NON HFT, NON HFT, NON HFT, NON HFT, NON HFT, ...
1   Trader_105  [NON HFT, NON HFT, NON HFT, NON HFT, NON HFT, ...
2   Trader_107  [MIX, MIX, MIX, MIX, MIX, MIX, MIX, MIX, MIX, ...
3   Trader_110                                          [NON HFT]
4   Trader_114  [NON HFT, NON HFT, NON HFT, NON HFT, NON HFT, ...
..         ...                                                ...
78   Trader_51  [NON HFT, NON HFT, NON HFT, NON HFT, MIX, NON ...
79   Trader_54  [NON HFT, MIX, HFT, NON HFT, NON HFT, MIX, MIX...
80   Trader_57      [NON HFT, NON HFT, NON HFT, NON HFT, NON HFT]
81   Trader_59                   [MIX, NON HFT, NON HFT, NON HFT]
82   Trader_60      [NON HFT, NON HFT, NON HFT, NON HFT, NON HFT]

[83 rows x 2 columns]

In [ ]:
preds = df1['prediction']

In [ ]:
numerical_preds = [[t.count('NON HFT'), t.count('MIX'), t.count('HFT')] for t in preds]

In [ ]:
preds[2]

['MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'NON HFT',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'NON HFT',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'NON HFT',
 'MIX',
 'MIX',
 'MIX',
 'HFT',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'HFT',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'NON HFT',
 'HFT',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'NON HFT',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'NON HFT',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'HFT',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'NON HFT',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'HFT',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'NON HFT',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'NON HFT',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'NON HFT',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX',
 'MIX']

In [ ]:
numerical_preds[2]

[10, 602, 5]

In [ ]:
prop_mix = [p[1]/np.sum(p) for p in numerical_preds]
prop_hft = [p[2]/np.sum(p) for p in numerical_preds]

In [ ]:
prop_mix[2]

0.9756888168557536

In [ ]:
classes = []
for i in range(len(numerical_preds)):
  if prop_hft[i] >= 0.85:
    classes.append('HFT')
  elif prop_mix[i] >= 0.5:
    classes.append('MIX')
  else:
    classes.append('NON HFT')

In [ ]:
len(classes)

83

In [ ]:
trader_pred_final = df1.copy()

In [ ]:
trader_pred_final['class'] = classes

In [ ]:
trader_pred_final

        Trader                                         prediction    class
0    Trader_10  [NON HFT, NON HFT, NON HFT, NON HFT, NON HFT, ...  NON HFT
1   Trader_105  [NON HFT, NON HFT, NON HFT, NON HFT, NON HFT, ...  NON HFT
2   Trader_107  [MIX, MIX, MIX, MIX, MIX, MIX, MIX, MIX, MIX, ...      MIX
3   Trader_110                                          [NON HFT]  NON HFT
4   Trader_114  [NON HFT, NON HFT, NON HFT, NON HFT, NON HFT, ...  NON HFT
..         ...                                                ...      ...
78   Trader_51  [NON HFT, NON HFT, NON HFT, NON HFT, MIX, NON ...  NON HFT
79   Trader_54  [NON HFT, MIX, HFT, NON HFT, NON HFT, MIX, MIX...  NON HFT
80   Trader_57      [NON HFT, NON HFT, NON HFT, NON HFT, NON HFT]  NON HFT
81   Trader_59                   [MIX, NON HFT, NON HFT, NON HFT]  NON HFT
82   Trader_60      [NON HFT, NON HFT, NON HFT, NON HFT, NON HFT]  NON HFT

[83 rows x 3 columns]

In [ ]:
true_values = y.join(trader_pred_final.set_index('Trader'), on='Trader')['type']
pred_classes = y.join(trader_pred_final.set_index('Trader'), on='Trader')['class']

In [ ]:
true_values

0         MIX
1     NON HFT
2     NON HFT
3     NON HFT
4     NON HFT
       ...
81        MIX
82        MIX
83        MIX
84        HFT
85        MIX
Name: type, Length: 86, dtype: object

In [ ]:
pred_classes

0         MIX
1     NON HFT
2     NON HFT
3     NON HFT
4     NON HFT
       ...
81        MIX
82        MIX
83        MIX
84        HFT
85        MIX
Name: class, Length: 86, dtype: object

In [ ]:
truth = np.array(true_values) == np.array(pred_classes)

In [ ]:
truth

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [ ]:
accuracy = np.sum(truth) / len(truth)
accuracy

0.9186046511627907

In [ ]:
f1_score(true_values, pred_classes, average='micro')

TypeError: ignored